@import url("fonts.css");

body {
    font-family: 'Raleway', sans-serif;
}

.Menu {
    text-align: center;
    padding: 38px 0;
    background: white;
    padding-bottom: 28px;
}

.contenedor {
    margin: 0 auto;
    max-width: 1600px;
}

.Menu--nav .menu>li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.Menu--nav .menu {
    padding: 27px 0;
    padding-bottom: 0;
}

.Menu--nav .menu>li.current-menu-item {
    font-weight: 800;
}

.Menu--nav .menu>li:hover {
    text-decoration: underline;
}

.tp-leftarrow.tparrows.custom,.tp-rightarrow.tparrows.custom {
    top: 0px !important;
    transform: none !important;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
}

.tp-rightarrow.tparrows.custom {
    right: 0 !important;
    left: auto !important;
}

.banner {
    overflow: hidden;
}

.YoutubeSlider {
    width: 1600px;
    height: 1030px;
    position: relative;
}

.YoutubeSlider--cont {
    white-space: nowrap;
    position: relative;
}

.YoutubeSlider--slides {
    white-space: normal;
    display: inline-block;
    width: 100%;
    padding-bottom: 57%;
    height: 0px;
    position: relative;
}

.YoutubeSlider--slides>iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
