@import url("fonts.css");

body {
    font-family: 'Raleway', sans-serif;
    /* background: white; */
    overflow-x: hidden;
}

.Menu {
    text-align: center;
    background: white;
    padding: 38px 0 28px;
}

.contenedor {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.Menu--nav .menu > li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.Menu--nav .menu {
    padding: 27px 0 0;
}

.Menu--nav .menu > li.current-menu-item {
    /* font-weight: 800; */
}

.Menu--nav .menu > li:hover {
    text-decoration: underline;
}

.tp-leftarrow.tparrows.custom, .tp-rightarrow.tparrows.custom {
    top: 0 !important;
    transform: none !important;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
}

.tp-rightarrow.tparrows.custom {
    right: 0 !important;
    left: auto !important;
}

.banner {
    overflow: hidden;
}

.YoutubeSlider {
    width: 1600px;
    position: relative;
}

.YoutubeSlider--cont {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.YoutubeSlider--slides {
    white-space: normal;
    display: inline-block;
    width: 100%;
    padding-bottom: 45.6%;
    height: 0;
    position: relative;
    /* pointer-events: none; */
}

.YoutubeSlider--slides > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.YoutubeSlider--flechas {
    position: absolute;
    top: -1px;
    width: 50%;
    background: white;
    height: 45px;
    opacity: 0.6;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.YoutubeSlider--flechas--prev {
    left: 0;
    background-image: url("../images/home/flecha-prev.png");
}

.YoutubeSlider--flechas--next {
    right: 0;
    background-image: url("../images/home/flecha-next.png");
}

.YoutubeSlider--flechas:hover {
    opacity: 0.8;
}

.YoutubeSlider--slides--botones {
    position: absolute;
    bottom: 22px;
    right: 14px;
}

.YoutubeSlider--slides--boton {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 200px;
    background-image: url('../images/home/banner-botones.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.YoutubeSlider--slides--botones--discover {
    width: 133px;
    background-position: left center;
}

.YoutubeSlider--slides--botones--share {
    width: 30px;
    background-position: left -129px center;
}

.YoutubeSlider--slides--boton:hover {
    background-color: white;
    opacity: 1 !important;
}

.YoutubeSlider--slides--botones--share > div {
    opacity: 0 !important;
}

.st-logo {
    display: none !important;
}

.Home--titulo {
    text-align: center;
    background: white;
    padding: 63px 0;
    font-size: 71px;
    text-transform: uppercase;
    font-weight: 200;
}

.Parallax--secciones {
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.Parallax--secciones_activa {
    padding-top: 100vh;
    z-index: 2;
    position: relative;
    cursor: n-resize;
}

.Parallax--secciones_anterior {
    bottom: 0 !important;
    position: fixed;
    top: auto !important;
    pointer-events: none;
}

.Parallax--secciones:nth-child(1) {
    padding-top: 0 !important;
}

.Parallax--secciones_siguiente {
    pointer-events: none;
}

.ParallaxEspecial {
    /* height: 100vh; */
    /* position: relative; */
    /* overflow: auto; */
}

.Parallax--secciones > .contenedor {
    min-height: 100vh;
    padding-bottom: 10px;
    box-sizing: content-box;
    overflow: hidden;
    clear: both;
    /* background: white; */
}

.ColeccionEnHome {
    float: left;
    width: 50%;
    background: red;
    padding-bottom: 28.1%;
    height: 0;
    background-position: center;
    background-size: cover;
    display: inline-block;
    opacity: 1 !important;
    position: relative;
}

body.home {
    overflow: hidden;
}

.ColeccionEnHome--title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 82%;
    display: block;
    padding: 18px 35px;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-style: italic;
    font-size: 64px;
    z-index: 2;
}

.ColeccionEnHome_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
    opacity: 0;
    pointer-events: none;
    transition: 1s opacity ease;
}

.ColeccionEnHome:hover .ColeccionEnHome_hover {
    opacity: 1;
}

.FashionLab--loop {
    float: left;
    width: 33.3333%;
    padding-bottom: 31.8%;
    background: black;
    display: block;
    position: relative;
    cursor: pointer;
}

.FashionLab--loop:hover {
    opacity: 1 !important;
}

.FashionLab--loop--imagen {
    position: absolute;
    display: block;
    background: black;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.FashionLab--loop--imagen1 {
    top: 0;
    left: 0;
}

.FashionLab--loop--imagen2 {
    top: 0;
    left: 50%;
}

.FashionLab--loop--imagen3 {
    top: 50%;
    left: 0;
}

.FashionLab--loop--imagen4 {
    top: 50%;
    left: 50%;
}

.FashionLab--loop:hover .FashionLab--loop--imagen {
    opacity: 0.5;
}

.YoutubeSlider--slides--botones--mute {
    background-position: right center;
    width: 30px;
}

.Parallax--secciones_activa>div {cursor: auto;}

.Universo--loop {
    float: left;
    width: 33.33%;
    padding-bottom: 33.33%;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
}

.Universo--loop:hover {
    opacity: 1;
}

.Universo--loop--hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 1s opacity ease;
}

.Universo--loop:hover
 .Universo--loop--hover {
    opacity: 1;
}

.Testimonio--loop {
    display: block;
    float: left;
    width: 33%;
    padding-bottom: 47%;
    position: relative;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.Testimonio--loop--header {
    position: absolute;
    bottom: 22px;
    left: 11%;
    right: 17%;
    background: rgba(255, 255, 255, 0.54);
    padding: 25px 10px;
    text-align: center;
    text-transform: uppercase;
}

.Testimonio--loop--header--cite {
    font-size: 15px;
    font-weight: 800;
}

.Testimonio--loop--header--title {
    font-size: 13px;
    margin-bottom: 14px;
}