@import url("fonts.css");

body {
    font-family: 'Raleway', sans-serif;
    /* background: white; */
    overflow-x: hidden;
}

.Menu {
    text-align: center;
    background: white;
    padding: 38px 0 28px;
}

.contenedor {
    margin: 0 auto;
    width: 1600px;
    position: relative;
    max-width: 100%;
    z-index: 1;
    overflow: hidden;
}

.Menu--nav .menu > li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 14px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    overflow: visible;
}

.Menu--nav .menu {
    padding: 27px 0 0;
}

.Menu--nav .menu > li.current-menu-item {
    /* font-weight: 800; */
}

.Menu--nav .menu > li::after {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 1px;
    width: 0;
    content: "";
    display: block;
    transition: 1s width ease;
}

.Menu--nav .menu > li:hover::after {
    width: 100%;
}

.tp-leftarrow.tparrows.custom, .tp-rightarrow.tparrows.custom {
    top: 0 !important;
    transform: none !important;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
}

.tp-rightarrow.tparrows.custom {
    right: 0 !important;
    left: auto !important;
}

.banner {
    overflow: hidden;
}

.YoutubeSlider {
    width: 1600px;
    position: relative;
}

.YoutubeSlider--cont {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.YoutubeSlider--slides {
    white-space: normal;
    display: inline-block;
    width: 100%;
    padding-bottom: 41%;
    height: 0;
    position: relative;
    /* pointer-events: none; */
}

.YoutubeSlider--slides > iframe {
    position: absolute;
    top: -19%;
    left: 0;
    width: 100%;
    height: 139%;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.YoutubeSlider--flechas {
    position: absolute;
    bottom: -1px;
    width: 100px;
    background: white;
    height: 45px;
    cursor: pointer;
    background-position: center left 10px;
    background-repeat: no-repeat;
}

.YoutubeSlider--flechas--prev {
    left: 0;
    background-image: url("../images/home/flecha-prev.png");
}

.YoutubeSlider--flechas--next {
    right: 0;
    background-image: url("../images/home/flecha-next.png");
    background-position: center right 10px;
}

.YoutubeSlider--flechas:hover {
    /* opacity: 0.8; */
}

.YoutubeSlider--slides--botones {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    text-align: center;
    background: white;
    line-height: 44px;
    height: 44px;
}

.YoutubeSlider--slides--boton {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 200px;
    background-image: url('../images/home/banner-botones.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.YoutubeSlider--slides--botones--discover {
    width: 133px;
    background-position: left center;
}

.YoutubeSlider--slides--botones--share {
    width: 30px;
    background-position: left -129px center;
}

.YoutubeSlider--slides--boton:hover {
    background-color: white;
    opacity: 1 !important;
}

.YoutubeSlider--slides--botones--share > div {
    opacity: 0 !important;
}

.st-logo {
    display: none !important;
}

.Home--titulo {
    text-align: center;
    background: white;
    padding: 50px 0;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 200;
}

.Parallax--secciones {
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.Parallax--secciones_activa {
    padding-top: 100vh;
    z-index: 2;
    position: relative;
    cursor: n-resize;
}

.Parallax--secciones_anterior {
    bottom: 0 !important;
    position: fixed;
    top: auto !important;
    pointer-events: none;
}

.Parallax--secciones:nth-child(1) {
    padding-top: 0 !important;
}

.Parallax--secciones_siguiente {
    pointer-events: none;
}

.ParallaxEspecial {
    /* height: 100vh; */
    /* position: relative; */
    /* overflow: auto; */
}

.Parallax--secciones > .contenedor {
    min-height: 100vh;
    padding-bottom: 10px;
    box-sizing: content-box;
    overflow: hidden;
    clear: both;
    background: white;
}

.ColeccionEnHome {
    float: left;
    width: 50%;
    background: red;
    padding-bottom: 28.1%;
    height: 0;
    background-position: center;
    background-size: cover;
    display: inline-block;
    opacity: 1 !important;
    position: relative;
}

body.home {
    overflow: hidden;
}

.ColeccionEnHome--title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 82%;
    display: block;
    padding: 18px 35px;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-style: italic;
    font-size: 64px;
    z-index: 2;
}

.ColeccionEnHome_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
    opacity: 0;
    pointer-events: none;
    transition: 1s opacity ease;
}

.ColeccionEnHome:hover .ColeccionEnHome_hover {
    opacity: 1;
}

.FashionLab--loop {
    float: left;
    width: 33.3333%;
    padding-bottom: 31.8%;
    background: black;
    display: block;
    position: relative;
    cursor: pointer;
}

.FashionLab--loop:hover {
    opacity: 1 !important;
}

.FashionLab--loop--imagen {
    position: absolute;
    display: block;
    background: black;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.FashionLab--loop--imagen1 {
    top: 0;
    left: 0;
}

.FashionLab--loop--imagen2 {
    top: 0;
    left: 50%;
}

.FashionLab--loop--imagen3 {
    top: 50%;
    left: 0;
}

.FashionLab--loop--imagen4 {
    top: 50%;
    left: 50%;
}

.FashionLab--loop:hover .FashionLab--loop--imagen {
    opacity: 0.5;
}

.YoutubeSlider--slides--botones--mute {
    background-position: right top;
    width: 30px;
}

.Parallax--secciones_activa > div {
    cursor: auto;
}

.Universo--loop {
    float: left;
    width: 33.33%;
    padding-bottom: 33.33%;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
}

.Universo--loop:hover {
    opacity: 1;
}

.Universo--loop--hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 1s opacity ease;
}

.Universo--loop:hover .Universo--loop--hover {
    opacity: 1;
}

.Testimonio--loop {
    display: block;
    float: left;
    width: 33%;
    padding-bottom: 47%;
    position: relative;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.Testimonio--loop--header {
    position: absolute;
    bottom: 22px;
    left: 11%;
    right: 17%;
    background: rgba(255, 255, 255, 0.54);
    padding: 25px 10px;
    text-align: center;
    text-transform: uppercase;
}

.Testimonio--loop--header--cite {
    font-size: 15px;
    font-weight: 800;
}

.Testimonio--loop--header--title {
    font-size: 13px;
    margin-bottom: 14px;
}

.Contacto--selector {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    padding: 93px 0;
    padding: 10vh 0;
}

.Contacto--selector--select {
    cursor: pointer;
    transition: 1s all ease;
    bottom: 0;
    position: relative;
}

.Contacto--selector--select:hover {
    bottom: 10px;
    text-decoration: underline;
}

.Contacto--ventana--body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    padding-top: 131px;
    background: white;
    display: none;
}

.Contacto--ventana {
    margin: 0 auto;
    width: 1007px;
    max-width: 90%;
    position: relative;
    padding: 27px 88px;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 200;
    left: 31px;
    background: white;
    box-shadow: 0 0 58px;
}

.Contacto--ventana--cerrar {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 17px;
    font-size: 42px;
    font-weight: 200;
    padding: 11px;
    cursor: pointer;
}

.Contacto--ventana--cerrar:hover {
    color: gray;
}

.Contacto--form--label {
    float: left;
    width: 50%;
    line-height: 58px;
    position: relative;
}

.Contacto--form {
    padding-top: 40px;
}

.Contacto--form--label--email {
    width: 44%;
    margin-right: 2%;
}

.Contacto--form--input {
    border: 1px solid #696969;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
    color: #696969;
    font-weight: 200;
}

.Contacto--form--label--telefono {
    width: 54%;
}

.Contacto--form--label--email .Contacto--form--input--cont {
    left: 102px;
}

.Contacto--form--label--telefono .Contacto--form--input--cont {
    left: 190px;
}

.Contacto--form--input--cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Contacto--form--textarea {
    display: block;
    width: 100%;
    clear: both;
    border: 1px solid #696969;
    margin: 35px 0;
    height: 291px;
    font-size: 20px;
    color: #696969;
    font-weight: 200;
    padding: 20px;
}

.clear {
    display: block;
    clear: both;
}

.boton {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 54px;
    background: white;
    border: 1px solid #696969;
    font-weight: 200;
    cursor: pointer;
}

.Contacto--form--enviar {
    width: 208px;
    margin: 0 auto;
    margin-right: 0;
}

.boton:hover {
    background: black;
    color: white;
}

.Footer--izquierdo {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: initial;
    padding-left: 56px;
    font-size: 28px;
    padding-top: 45px;
    font-weight: 200;
}

#Footer > .contenedor {
    position: relative;
    height: 167px;
    line-height: 167px;
}

#Footer {
    bottom: 0;
    left: 0;
    border-top: 1px solid #222222;
    right: 0;
}

.Footer--derecho {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    padding-right: 37px;
    font-weight: 200;
}

.Footer--derecho li {
    display: inline-block;
}

.Footer--derecho li ul {
    display: none;
}

.Footer--derecho li::after {
    content: '-';
    margin-left: 4px;
}

.Footer--derecho li:last-child::after {
    display: none;
}

.cargando--bloque {
    position: absolute;
    height: 53px;
    width: 220px;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    background: white;
}

.cargando--loader {
    background: black;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 2;
    border-top: none;
    max-height: 50px;
}

.cargando--mascara {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cargando--fondo {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 2px;
    top: 1px;
    bottom: 9px;
    background: #a7a7a7;
}

.cargando--bloque > div {
    display: none;
}

#Cargando--Mascara {
    display: block;
    width: 100%;
}

.Coleccion--contenedor {
    margin: 0 auto;
    max-width: 1152px;
    overflow: hidden;
}

.Coleccion--cabecera {
    padding-top: 86px;
}

.Coleccion--cabecera--left {
    float: left;
    width: 40%;
}

.Coleccion--cabecera--right {
    float: left;
    width: 51%;
    margin-left: 9%;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 126px;
}

.Coleccion--cabecera--imagen {
    width: 100%;
}

.Coleccion--cabecera--title--h1 {
    font-weight: 800;
}

.Coleccion--cabecera--title--date {
    font-weight: 200;
    font-size: 30px;
}

.Coleccion--cabecera--texto {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1022px;
}

.Coleccion--cabecera--texto p {
    margin-bottom: 21px;
}

.Coleccion--galeria--foto {
    text-align: center;
    cursor: pointer;
}

.Coleccion--galeria--foto img {
    width: 64%;
    margin: 0 auto;
    transition: 1s all ease;
    padding-top: 70px;
}

.Coleccion--galeria--foto.slick-current img {
    width: 100%;
    padding-top: 0;
}

.slick-next {
    right: 0;
}

.Coleccion--galeria {
    margin: 102px 50px;
    min-height: 380px;
}

.slick-next, .slick-prev {
    background: url("../images/coleccion/flechas.png");
    background-position: center right;
    height: 90px;
    width: 49px;
    top: 50%;
    z-index: 2;
    position: absolute;
    border: none;
    background-repeat: no-repeat;
    margin-top: -45px;
    font-size: 0;
    cursor: pointer;
}

.slick-prev {
    left: 0;
    background-position: left center;
}

#contacto #Footer {
    position: absolute;
}

.Coleccion--galeria--foto:hover img {
    opacity: 0.8;
}

.Footer--centro {
    text-align: center;
}

.Red {
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
    margin: 0 3px;
}

.Coleccion--fancys {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 87px;
    background: white;
    display: none;
    z-index: 2;
    overflow: auto;
}

.Coleccion--fancy--texto {
    font-size: 20px;
}

.Coleccion--fancy .Coleccion--cabecera--right {
    padding-top: 0;
}

.Coleccion--fancys--cerrar {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 17px;
    font-size: 42px;
    font-weight: 200;
    padding: 11px;
    cursor: pointer;
}

.Coleccion--fancys--cerrar:hover {
    color: gray;
}

.zoomContainer {
    z-index: 99;
}

.Coleccion--fancy--zoom {
    height: 400px;
    margin-bottom: 20px;
    background: whitesmoke;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.MenuFlat--abrirMenu {
    width: 25px;
    margin: 0 auto;
    height: 25px;
    cursor: pointer;
    right: 0;
    display: inline-block;
    position: relative;
    margin-right: 0;
    z-index: 6;
}

.MenuFlat--abrirMenu > span {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    background: white;
}

#barra_1 {
    top: 0;
}

#barra_2 {
    top: 10px;
}

#barra_3 {
    top: 20px;
}

.MenuFlat {
    position: fixed;
    padding: 15px;
    background: black;
    z-index: 5;
}

.MenuFlat--abrirMenu:hover #barra_1 {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    top: 10px;
}

.MenuFlat--abrirMenu:hover #barra_3 {
    top: 10px;
}

.movilAbierto #barra_1 {
    transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    top: 11px;
}

.movilAbierto #barra_2, .MenuFlat--abrirMenu:hover #barra_2 {
    opacity: 0;
}

.movilAbierto #barra_3 {
    transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
    top: 11px;
}

.movilAbierto .MenuFlat--menu {
    opacity: 1;
    top: 0;
}

.MenuFlat--menu {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    z-index: 5;
    background: white;
    padding-top: 25px;
    right: 0;
    overflow: auto;
    opacity: 0;
    transition: 1s all ease;
}

.MenuFlat--menu .Menu--nav .menu > li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
    font-size: 22px;
}

.MenuFlat--menu .Menu--nav .menu > li a {
    padding: 10px;
    display: block;
    transition: 0.3s padding ease;
}

.MenuFlat--menu .Menu--nav .menu > li a:hover {
    padding: 20px;
}

.home .MenuFlat {
    left: -70px;
    transition: 0.3s left ease;
}

.MenuFlat.menuHomeVisible {
    left: 0;
}

.movilAbierto .MenuFlat--abrirMenu > span {
    background: black;
}

.FashionLab {
    padding: 100px 0;
    clear: both;
    overflow: hidden;
}

.Menu > .contenedor {
    overflow: visible;
}

.movilAbierto .Menu--nav .menu > li::after {
    display: none;
}

.Menu--idiomas {
    position: absolute;
    top: 21px;
    right: 13px;
    font-size: 16px;
    font-weight: 300;
}

.Menu--idiomas .Menu--idiomas_active {
    font-weight: 800;
}

.Menu--idiomas--separador {
    display: inline-block;
    width: 2px;
    background: black;
    height: 13px;
}